.color-picker-panel {
  width: 100%;
  height: 100%;
  border-radius: 8px;

  margin-bottom: 2rem;

}

.panel-row {
  position: relative;
}


.panel-row:first-child {
  margin-top: 10px;
  margin-bottom: 6px;
}

.panel-row:after {
  content: '';
  display: table;
  clear: both;
}

.panel-header {
  background: #15191c;
  padding: 8px;
  margin: 0 -10px 10px;
  text-align: center;
}

.swatch {
  display: inline;
  width: 38px;
  height: 38px;
  background: #ccc;
  border-radius: 50%;
  margin: 0.3rem;
  border: 0;
  cursor: pointer;
}

.default-swatches {
  width: 100%;
}

.color-cursor {
  border-radius: 100%;
  background: #ccc;
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  border: 2px solid #fff;
  transition: all 0.2s ease;
}

.color-cursor.dragging {
  transition: none;
}

.color-cursor#spectrum-cursor {
  width: 30px;
  height: 30px;
  margin-left: - 15px;
  margin-top: - 15px;
  top: 0;
  left: 0;
}

.color-cursor#hue-cursor {
  top: 0;
  left: 50%;
  height: 22px;
  width: 22px;
  margin-top: -10px;
  margin-left: -10px;
  pointer-events: none;
}

.spectrum-map {
  position: relative;
  height: 11rem;
  overflow: hidden;
}

#spectrum-canvas {
  position: absolute;
  width: 90%;
  height: 97%;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
}

.hue-map {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 2px;
  width: 15px;
}

#hue-canvas {
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
}

.button {
  border: 0;
  border-radius: 4px;
  color: #8b949a;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  outline: none;
  cursor: pointer;
  padding: 4px;
}

.button .eyedropper {
  position: absolute;
  right: 0;
  top: 0;
  width: 68px;
  height: 68px;
  display: block;
}

.button.add-swatch {
  display: block;
  position: absolute;
  right: 2%;
  top: 1%;
  width: 80px;
}

.button.mode-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 68px;
  height: 40px;
}

.forflex{
  width: 100%;
  margin: 0px 5px;

}

.value-fields {
  display: none;
  align-items: center;
}

.value-fields.active {
  display: flex;
}

.value-fields .field-label {
  margin-right: 6px;
}

.value-fields .field-input {
  border: 1px solid #364347;
  box-sizing: border-box;
  border-radius: 2px;
  line-height: 38px;
  padding: 0 4px;
  text-align: center;
  color: #000000;
  font-size:1rem;
}

.rgb-fields .field-group {
  display: flex;
  align-items: center; 
}

.rgb-fields .field-input {
  width: 50px;
  font-size: 20px;
  margin-right: 10px;
}


.hex-field .field-input {
  width: 90px;
  font-size: 20px;
  margin-right: 10px;
}

.color-indicator {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  border-radius: 4px;
  background: #ccc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.save {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #122A4B;
  margin: 0.5rem 0rem;
}



.pallette {
  height: 100px;
  width: 100%;
  background-color: red;
  background-image: linear-gradient(0deg, black, rgba(0, 0, 0, 0)), linear-gradient(90deg, white, rgba(255, 255, 255, 0));
  position: relative;
}

.pallette:hover {
  cursor: pointer;
}

.slider-bar {
  margin: 1em 0;
  height: 20px;
  border-radius: 0.3em;
  border: 1px solid #ccc;
  position: relative;
}

input[type="range"] {
  margin: 0.5em 0;
  width: 100%;
  appearance: none;
  outline: none;
  background-image: linear-gradient(to right, red, yellow, hsl(120, 100%, 50%), cyan, blue, magenta, red);
  background-color: #fff;
  height: 1em;
  border-radius: .5em;
  box-sizing: border-box;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 1em;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-sizing: border-box;
} 



